//COLORS PALETTE
$white: #ECF2FF;
$black: #181823;
$orange: #ff9966;
$grey: #696969;

$background-linear: linear-gradient(90deg, rgba(255,94,98,1) 0%, rgba(255,153,102,1) 100%);



//FONTS
$font: 'Cabin', sans-serif;
$fontlight: 'Work Sans', sans-serif;